## Used Car Prediction

Main Objective : Predict MMR (market price) for car sellers

<img src="https://img.etimg.com/thumb/msid-106586397,width-300,height-225,imgsize-39324,resizemode-75/car-sales.jpg" />

In [2]:
from pyspark.sql import SparkSession

spark = (SparkSession.builder
         .appName('Used Car Prediction')
         .master('local[*]')
         .getOrCreate()
        )

24/05/21 22:08:24 WARN Utils: Your hostname, Sidis-Laptop.local resolves to a loopback address: 127.0.0.1; using 192.168.100.21 instead (on interface en0)
24/05/21 22:08:24 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/21 22:08:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df = spark.read.format('csv').options(header=True, inferSchema=True).load('dataset/car_prices.csv').repartition(4)
df.show(30, truncate=50)

+----+-------------+----------------+--------------------+-----------+------------+-----------------+-----+---------+--------+--------+--------+---------------------------------------------+-----+------------+---------------------------------------+
|year|         make|           model|                trim|       body|transmission|              vin|state|condition|odometer|   color|interior|                                       seller|  mmr|sellingprice|                               saledate|
+----+-------------+----------------+--------------------+-----------+------------+-----------------+-----+---------+--------+--------+--------+---------------------------------------------+-----+------------+---------------------------------------+
|2009|     Chrysler|Town and Country|             Touring|    Minivan|   automatic|2a8hr54179r570758|   wi|      1.6| 90655.0|    gold|     tan|                        dt credit corporation| 8425|        7900|Wed Jan 21 2015 02:00:00 GMT-0800 (PST)|
|2007|    Chevrolet|  Silverado 1500|          Work Truck|   Crew Cab|   automatic|2gcec13c971578282|   ca|     NULL|106732.0|    blue|   black|                                   auto plaza|13350|       14500|Thu Dec 18 2014 13:00:00 GMT-0800 (PST)|
|2011|       Nissan|            Leaf|                  SL|  Hatchback|   automatic|jn1az0cp8bt007673|   wa|      4.1| 21852.0|     red|   beige|                           nissan-infiniti lt|10450|       10900|Wed Jan 21 2015 06:40:00 GMT-0800 (PST)|
|2006|          GMC|        Envoy XL|              Denali|        SUV|   automatic|1gket66m066153160|   nv|        2|121829.0|   black|       —|                    titlemax/fort apache-nv16| 7275|        5900|Wed Dec 31 2014 11:00:00 GMT-0800 (PST)|
|2011|         Ford|           F-150|                 XLT|  SuperCrew|        NULL|1ftfw1et2bke11814|   mi|      4.8| 31961.0|    gray|    gray|                       automobiles paille inc|25500|       24500|Thu Dec 18 2014 09:30:00 GMT-0800 (PST)|
|2007|       HUMMER|              H3|                Base|        SUV|   automatic|5gtdn13ex78160245|   fl|      3.9|107497.0|burgundy|   black|                       mercedes benz of tampa|11400|       12700|Thu Dec 18 2014 16:20:00 GMT-0800 (PST)|
|2004|   Volkswagen|           Jetta|            GLI 1.8T|      Sedan|        NULL|3vwse69m54m021929|   il|     NULL|106381.0|    blue|       —|                      grossinger autoplex inc| 2700|        2500|Thu Dec 18 2014 14:00:00 GMT-0800 (PST)|
|2012|      Hyundai|   Sonata Hybrid|                Base|      Sedan|   automatic|kmhec4a49ca060519|   fl|      4.1| 50306.0|     red|     tan|                                      gte fcu|13250|       13100|Tue Dec 23 2014 14:00:00 GMT-0800 (PST)|
|2014|    Chevrolet|          Impala|                 LTZ|      Sedan|   automatic|2g1155s3xe9133901|   fl|        4| 14037.0|   black|   black|                               gm remarketing|24300|       24700|Mon Feb 09 2015 05:00:00 GMT-0800 (PST)|
|2014|          Kia|           Forte|                  LX|      Sedan|   automatic|knafx4a60e5210850|   wi|      3.8| 12835.0|     red|    gray|                      kia motors america, inc|12550|       11900|Wed Feb 18 2015 02:00:00 GMT-0800 (PST)|
|2007|         Jeep|        Wrangler|                   X|        SUV|      manual|1j4fa24167l160554|   pa|     NULL| 60967.0|   green|       —|                               randy ford inc|13150|       13900|Fri Dec 19 2014 09:15:00 GMT-0800 (PST)|
|2006|          Kia|             Rio|                Base|      Sedan|   automatic|knade123066035429|   ga|     NULL|182744.0|  silver|   black|                                cars & trucks| 1400|        2150|Thu Dec 18 2014 10:00:00 GMT-0800 (PST)|
|2011|   Volkswagen|          Tiguan|                  SE|        SUV|   automatic|wvgav7axxbw524469|   tx|      2.5| 69830.0|   white|    gray|                                    vw credit|10550|       10200|Thu Dec 18 2014 11:00:00 GMT-0800 (PST)|
|2010|        Honda|         Odyssey|                  LX|    Minivan|   automatic|5fnrl3h27ab080213|   ca|      2.7| 79116.0|   white|     tan|                      high bid trading co inc| 9825|       12500|Wed Dec 17 2014 12:15:00 GMT-0800 (PST)|
|2011|         Ford|         Mustang|                  V6|      Coupe|   automatic|1zvbp8am6b5130291|   sc|      2.8| 74223.0|    blue|   black|                            pnc national bank|11350|       12000|Tue Dec 23 2014 09:15:00 GMT-0800 (PST)|
|2011|        Buick|         Enclave|                CXL2|        SUV|   automatic|5gakvced6bj367698|   oh|      2.9| 33442.0|    gray|    gray|fiserv/usb dealer services northstar exchange|24100|       23100|Tue Jan 13 2015 09:30:00 GMT-0800 (PST)|
|2007|       Saturn|            Aura|                  XE|      Sedan|   automatic|1g8zs57n27f208351|   ca|      3.8|118943.0|   white|   beige|                                   valley kia| 3800|        3800|Thu Dec 18 2014 12:00:00 GMT-0800 (PST)|
|2004|      Pontiac|      Grand Prix|                 GT1|      Sedan|   automatic|2g2wp522941339050|   nc|      1.7|117538.0|  silver|   black|                                 dt inventory| 2500|        1300|Tue Dec 30 2014 09:30:00 GMT-0800 (PST)|
|2014|         Ford|  E-Series Wagon|E-350 Super Duty XLT|        Van|        NULL|1fbne3blxedb01678|   mn|      3.5| 15939.0|       —|    gray|                            avis budget group|20100|       19900|Tue Dec 23 2014 14:00:00 GMT-0800 (PST)|
|2008|     Chrysler|         Sebring|             Limited|Convertible|   automatic|1c3lc65m98n573663|   tx|        2|131199.0|   white|     tan|                     caprock auto remarketing| 3175|        1300|Thu Dec 18 2014 14:00:00 GMT-0800 (PST)|
|2011|    Chevrolet|        Traverse|                 LT2|        SUV|   automatic|1gnkrjed2bj415308|   ca|      2.6| 25305.0|  silver|    gray|fiserv/usb dealer services northstar exchange|19150|       18500|Tue Dec 16 2014 12:30:00 GMT-0800 (PST)|
|2009|       Nissan|           Rogue|                  SL|        SUV|   automatic|jn8as58v49w436294|   ma|      3.5| 51698.0|  silver|   black|                     capital one auto finance|11000|       12600|Tue Jan 06 2015 01:30:00 GMT-0800 (PST)|
|2006|         jeep|        wrangler|            6c sport|       NULL|        NULL|1j4fa49s36p702035|   fl|      2.2| 76807.0|   black|   black|                 remarketing by ge/penair fcu|12900|        9500|Tue Dec 30 2014 11:15:00 GMT-0800 (PST)|
|2011|     Infiniti|         G Sedan|                G25x|    G Sedan|        NULL|jn1dv6arxbm451146|   pa|      2.8| 34154.0|   black|   black|                           nissan infiniti lt|17200|       16000|Tue Dec 23 2014 09:00:00 GMT-0800 (PST)|
|2012|        Scion|              iQ|                Base|  Hatchback|   automatic|jtnjjxb01cj012739|   ga|      4.3| 14821.0|    gray|   black|                    toyota financial services| 9375|        9200|Thu Dec 18 2014 10:00:00 GMT-0800 (PST)|
|2008|         Audi|              S6|             quattro|      Sedan|        NULL|waudn74f78n015312|   va|      2.6|119236.0|  silver|    gray|                    brown's volkswagen suzuki|16700|       14200|Thu Dec 18 2014 09:05:00 GMT-0800 (PST)|
|2013|       Nissan|           Rogue|                  SV|        SUV|        NULL|jn8as5mt1dw014710|   ca|      4.3| 22338.0|  silver|   black|                    nissan north america inc.|15050|       18000|Tue Dec 16 2014 12:30:00 GMT-0800 (PST)|
|2014|          GMC|     Sierra 1500|                 SLT|   Crew Cab|   automatic|3gtu2vec4eg141863|   tx|      4.4| 31048.0|    blue|   brown|                     winter motor company inc|34500|       35300|Wed Dec 31 2014 10:20:00 GMT-0800 (PST)|
|2013|Mercedes-Benz|         C-Class|                C250|      Coupe|   automatic|wddgj4hb6df984949|   nv|      4.5| 21632.0|   white|   black|             mercedes-benz financial services|24600|       24250|Thu Jan 22 2015 06:00:00 GMT-0800 (PST)|
|2014|     Infiniti|             Q50|             Premium|      Sedan|   automatic|jn1bv7apxem671757|   ca|      3.8| 12397.0|   black|   black|                    nissan north america inc.|29900|       30000|Thu Dec 18 2014 12:30:00 GMT-0800 (PST)|
+----+-------------+----------------+--------------------+-----------+------------+-----------------+-----+---------+--------+--------+--------+---------------------------------------------+-----+------------+---------------------------------------+
only showing top 30 rows

24/05/21 22:08:40 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

## Preprocessing & Cleaning

In [4]:
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [5]:
# Count for missing numbers
df.select([count(when(isnan(c) | isnull(c),1)).alias(c) for c in df.columns]).show()

+----+-----+-----+-----+-----+------------+---+-----+---------+--------+-----+--------+------+---+------------+--------+
|year| make|model| trim| body|transmission|vin|state|condition|odometer|color|interior|seller|mmr|sellingprice|saledate|
+----+-----+-----+-----+-----+------------+---+-----+---------+--------+-----+--------+------+---+------------+--------+
|   0|10301|10399|10651|13195|       65353|  4|    0|    11794|      94|  749|     749|     0|  0|           0|       0|
+----+-----+-----+-----+-----+------------+---+-----+---------+--------+-----+--------+------+---+------------+--------+

In [20]:
df = df.dropna(subset=["year", "make", "model", "body", "transmission", "condition", "odometer", "color"])
df.show()

+----+-------------+---------------+---------------+---------+------------+-----------------+-----+---------+--------+--------+--------+--------------------+-----+------------+--------------------+---------+
|year|         make|          model|           trim|     body|transmission|              vin|state|condition|odometer|   color|interior|              seller|  mmr|sellingprice|            saledate|body_type|
+----+-------------+---------------+---------------+---------+------------+-----------------+-----+---------+--------+--------+--------+--------------------+-----+------------+--------------------+---------+
|2013|    chevrolet|          cruze|            1LT|    sedan|   automatic|1g1pc5sb9d7167061|   va|      2.8|   29322|     red|    gray|fiserv/citizens a...|11200|       10200|Mon Dec 22 2014 0...|    sedan|
|2008|          gmc|         acadia|          SLT-2|      suv|   automatic|1gker33768j202809|   tx|      2.9|   97458|    gray|   black|ford motor credit...|12250|       11000|Tue Dec 23 2014 1...|      suv|
|2005|       nissan|         maxima|         3.5 SL|    sedan|   automatic|1n4ba41e25c827484|   va|      2.5|  118589|    blue|   black|dt credit corpora...| 3700|        3800|Thu Jan 22 2015 0...|    sedan|
|2007|       hummer|             h3|           Base|      suv|   automatic|5gtdn13ex78160245|   fl|      3.9|  107497|burgundy|   black|mercedes benz of ...|11400|       12700|Thu Dec 18 2014 1...|      suv|
|2004|      hyundai|         accent|             GL|    sedan|   automatic|kmhcg45c74u517860|   ca|      2.1|   85336|   green|   beige| aaero sweet company| 1225|        1800|Wed Dec 31 2014 1...|    sedan|
|2009|       toyota|         sienna|XLE 7-Passenger|  minivan|   automatic|5tdzk22c39s233823|   fl|      2.4|   79873|    gray|    gray|         palm toyota|12750|       10500|Wed Jan 07 2015 1...|  minivan|
|2013|        honda|        insight|             EX|hatchback|   automatic|jhmze2h78ds000083|   ca|      2.4|   31019|   white|    gray|ahfc/honda lease ...|13450|       11200|Thu Dec 18 2014 1...|hatchback|
|2012|          ram|           1500|            SLT| quad cab|   automatic|1c6rd7gp3cs292718|   md|      3.2|   26199|   black|   black|    chrysler capital|21600|       22600|Tue Dec 30 2014 0...|      cab|
|2010|        honda|        odyssey|             LX|  minivan|   automatic|5fnrl3h27ab080213|   ca|      2.7|   79116|   white|     tan|high bid trading ...| 9825|       12500|Wed Dec 17 2014 1...|  minivan|
|2014|         ford|          focus|             SE|hatchback|   automatic|1fadp3k27el150647|   ga|      2.0|   24432|  silver|   black|enterprise vehicl...|12500|        8700|Thu Jan 08 2015 1...|hatchback|
|2007|       saturn|           aura|             XE|    sedan|   automatic|1g8zs57n27f208351|   ca|      3.8|  118943|   white|   beige|          valley kia| 3800|        3800|Thu Dec 18 2014 1...|    sedan|
|2011|mercedes-benz|        e-class|           E550|    sedan|   automatic|wddhf7cb8ba296721|   fl|      3.5|   43514|   white|   brown|mercedes-benz fin...|25600|       27600|Thu Dec 18 2014 0...|    sedan|
|2012|mercedes-benz|        m-class|  ML350 BlueTEC|      suv|   automatic|4jgda2eb1ca074994|   ca|      4.3|   45365|    gray|    gray| land rover san jose|35100|       35000|Tue Jan 06 2015 1...|      suv|
|2013|         ford|transit connect|  Cargo Van XLT|  minivan|   automatic|nm0ls7dn8dt148923|   tx|      4.7|    4551|   white|    gray|enterprise fleet ...|17200|       17000|Wed Dec 31 2014 1...|  minivan|
|2008|          gmc|       yukon xl|         Denali|      suv|   automatic|1gkfk66808j174939|   co|      2.5|  103200|   black|   black|  dtg operations inc|16850|       17500|Wed Dec 31 2014 1...|      suv|
|2014|          ram|           1500|            SLT| quad cab|   automatic|1c6rr6gt8es416221|   ca|      2.0|    3658|    gray|    gray|enterprise vehicl...|22500|       15900|Tue Dec 30 2014 1...|      cab|
|2014|    chevrolet| impala limited|      LTZ Fleet|    sedan|   automatic|2g1wc5e38e1147124|   fl|      4.0|   14080|    gray|   beige|      gm remarketing|15000|       15000|Mon Jan 26 2015 0...|    sedan|
|2008|          bmw|       1 series|           135i|    coupe|      manual|wbauc73578vf23541|   fl|      3.7|   80489|    blue|    gray|summer enterprise...|11700|       13500|Tue Dec 30 2014 0...|    coupe|
|2014|        dodge|        avenger|             SE|    sedan|   automatic|1c3cdzab6en110572|   co|      4.3|   27444|     red|   beige|        gm financial|11100|       11900|Tue Dec 23 2014 1...|    sedan|
|2012|   volkswagen|             cc|          Sport|    sedan|   automatic|wvwmn7an1ce540261|   fl|      4.1|   22991|    blue|   beige|expert auto group...|14050|       14700|Thu Dec 18 2014 1...|    sedan|
+----+-------------+---------------+---------------+---------+------------+-----------------+-----+---------+--------+--------+--------+--------------------+-----+------------+--------------------+---------+
only showing top 20 rows

In [21]:
df.count()

440403

In [22]:
df.printSchema()

root
 |-- year: integer (nullable = true)
 |-- make: string (nullable = true)
 |-- model: string (nullable = true)
 |-- trim: string (nullable = true)
 |-- body: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- vin: string (nullable = true)
 |-- state: string (nullable = true)
 |-- condition: double (nullable = true)
 |-- odometer: integer (nullable = true)
 |-- color: string (nullable = true)
 |-- interior: string (nullable = true)
 |-- seller: string (nullable = true)
 |-- mmr: integer (nullable = true)
 |-- sellingprice: integer (nullable = true)
 |-- saledate: string (nullable = true)
 |-- body_type: string (nullable = true)

In [23]:
df = df.where((df["transmission"] == "automatic") | (df["transmission"] == "manual"))
df = df.where((df["color"] != '—'))
df = df.where((df["interior"] != '—'))
df.show()

+----+-------------+---------------+---------------+---------+------------+-----------------+-----+---------+--------+--------+--------+--------------------+-----+------------+--------------------+---------+
|year|         make|          model|           trim|     body|transmission|              vin|state|condition|odometer|   color|interior|              seller|  mmr|sellingprice|            saledate|body_type|
+----+-------------+---------------+---------------+---------+------------+-----------------+-----+---------+--------+--------+--------+--------------------+-----+------------+--------------------+---------+
|2013|    chevrolet|          cruze|            1LT|    sedan|   automatic|1g1pc5sb9d7167061|   va|      2.8|   29322|     red|    gray|fiserv/citizens a...|11200|       10200|Mon Dec 22 2014 0...|    sedan|
|2008|          gmc|         acadia|          SLT-2|      suv|   automatic|1gker33768j202809|   tx|      2.9|   97458|    gray|   black|ford motor credit...|12250|       11000|Tue Dec 23 2014 1...|      suv|
|2005|       nissan|         maxima|         3.5 SL|    sedan|   automatic|1n4ba41e25c827484|   va|      2.5|  118589|    blue|   black|dt credit corpora...| 3700|        3800|Thu Jan 22 2015 0...|    sedan|
|2007|       hummer|             h3|           Base|      suv|   automatic|5gtdn13ex78160245|   fl|      3.9|  107497|burgundy|   black|mercedes benz of ...|11400|       12700|Thu Dec 18 2014 1...|      suv|
|2004|      hyundai|         accent|             GL|    sedan|   automatic|kmhcg45c74u517860|   ca|      2.1|   85336|   green|   beige| aaero sweet company| 1225|        1800|Wed Dec 31 2014 1...|    sedan|
|2009|       toyota|         sienna|XLE 7-Passenger|  minivan|   automatic|5tdzk22c39s233823|   fl|      2.4|   79873|    gray|    gray|         palm toyota|12750|       10500|Wed Jan 07 2015 1...|  minivan|
|2013|        honda|        insight|             EX|hatchback|   automatic|jhmze2h78ds000083|   ca|      2.4|   31019|   white|    gray|ahfc/honda lease ...|13450|       11200|Thu Dec 18 2014 1...|hatchback|
|2012|          ram|           1500|            SLT| quad cab|   automatic|1c6rd7gp3cs292718|   md|      3.2|   26199|   black|   black|    chrysler capital|21600|       22600|Tue Dec 30 2014 0...|      cab|
|2010|        honda|        odyssey|             LX|  minivan|   automatic|5fnrl3h27ab080213|   ca|      2.7|   79116|   white|     tan|high bid trading ...| 9825|       12500|Wed Dec 17 2014 1...|  minivan|
|2014|         ford|          focus|             SE|hatchback|   automatic|1fadp3k27el150647|   ga|      2.0|   24432|  silver|   black|enterprise vehicl...|12500|        8700|Thu Jan 08 2015 1...|hatchback|
|2007|       saturn|           aura|             XE|    sedan|   automatic|1g8zs57n27f208351|   ca|      3.8|  118943|   white|   beige|          valley kia| 3800|        3800|Thu Dec 18 2014 1...|    sedan|
|2011|mercedes-benz|        e-class|           E550|    sedan|   automatic|wddhf7cb8ba296721|   fl|      3.5|   43514|   white|   brown|mercedes-benz fin...|25600|       27600|Thu Dec 18 2014 0...|    sedan|
|2012|mercedes-benz|        m-class|  ML350 BlueTEC|      suv|   automatic|4jgda2eb1ca074994|   ca|      4.3|   45365|    gray|    gray| land rover san jose|35100|       35000|Tue Jan 06 2015 1...|      suv|
|2013|         ford|transit connect|  Cargo Van XLT|  minivan|   automatic|nm0ls7dn8dt148923|   tx|      4.7|    4551|   white|    gray|enterprise fleet ...|17200|       17000|Wed Dec 31 2014 1...|  minivan|
|2008|          gmc|       yukon xl|         Denali|      suv|   automatic|1gkfk66808j174939|   co|      2.5|  103200|   black|   black|  dtg operations inc|16850|       17500|Wed Dec 31 2014 1...|      suv|
|2014|          ram|           1500|            SLT| quad cab|   automatic|1c6rr6gt8es416221|   ca|      2.0|    3658|    gray|    gray|enterprise vehicl...|22500|       15900|Tue Dec 30 2014 1...|      cab|
|2014|    chevrolet| impala limited|      LTZ Fleet|    sedan|   automatic|2g1wc5e38e1147124|   fl|      4.0|   14080|    gray|   beige|      gm remarketing|15000|       15000|Mon Jan 26 2015 0...|    sedan|
|2008|          bmw|       1 series|           135i|    coupe|      manual|wbauc73578vf23541|   fl|      3.7|   80489|    blue|    gray|summer enterprise...|11700|       13500|Tue Dec 30 2014 0...|    coupe|
|2014|        dodge|        avenger|             SE|    sedan|   automatic|1c3cdzab6en110572|   co|      4.3|   27444|     red|   beige|        gm financial|11100|       11900|Tue Dec 23 2014 1...|    sedan|
|2012|   volkswagen|             cc|          Sport|    sedan|   automatic|wvwmn7an1ce540261|   fl|      4.1|   22991|    blue|   beige|expert auto group...|14050|       14700|Thu Dec 18 2014 1...|    sedan|
+----+-------------+---------------+---------------+---------+------------+-----------------+-----+---------+--------+--------+--------+--------------------+-----+------------+--------------------+---------+
only showing top 20 rows

In [24]:
df = df.withColumn("body", lower(df["body"]))
df = df.withColumn("make", lower(df["make"]))
df = df.withColumn("model", lower(df["model"]))
df.show()

+----+-------------+---------------+---------------+---------+------------+-----------------+-----+---------+--------+--------+--------+--------------------+-----+------------+--------------------+---------+
|year|         make|          model|           trim|     body|transmission|              vin|state|condition|odometer|   color|interior|              seller|  mmr|sellingprice|            saledate|body_type|
+----+-------------+---------------+---------------+---------+------------+-----------------+-----+---------+--------+--------+--------+--------------------+-----+------------+--------------------+---------+
|2013|    chevrolet|          cruze|            1LT|    sedan|   automatic|1g1pc5sb9d7167061|   va|      2.8|   29322|     red|    gray|fiserv/citizens a...|11200|       10200|Mon Dec 22 2014 0...|    sedan|
|2008|          gmc|         acadia|          SLT-2|      suv|   automatic|1gker33768j202809|   tx|      2.9|   97458|    gray|   black|ford motor credit...|12250|       11000|Tue Dec 23 2014 1...|      suv|
|2005|       nissan|         maxima|         3.5 SL|    sedan|   automatic|1n4ba41e25c827484|   va|      2.5|  118589|    blue|   black|dt credit corpora...| 3700|        3800|Thu Jan 22 2015 0...|    sedan|
|2007|       hummer|             h3|           Base|      suv|   automatic|5gtdn13ex78160245|   fl|      3.9|  107497|burgundy|   black|mercedes benz of ...|11400|       12700|Thu Dec 18 2014 1...|      suv|
|2004|      hyundai|         accent|             GL|    sedan|   automatic|kmhcg45c74u517860|   ca|      2.1|   85336|   green|   beige| aaero sweet company| 1225|        1800|Wed Dec 31 2014 1...|    sedan|
|2009|       toyota|         sienna|XLE 7-Passenger|  minivan|   automatic|5tdzk22c39s233823|   fl|      2.4|   79873|    gray|    gray|         palm toyota|12750|       10500|Wed Jan 07 2015 1...|  minivan|
|2013|        honda|        insight|             EX|hatchback|   automatic|jhmze2h78ds000083|   ca|      2.4|   31019|   white|    gray|ahfc/honda lease ...|13450|       11200|Thu Dec 18 2014 1...|hatchback|
|2012|          ram|           1500|            SLT| quad cab|   automatic|1c6rd7gp3cs292718|   md|      3.2|   26199|   black|   black|    chrysler capital|21600|       22600|Tue Dec 30 2014 0...|      cab|
|2010|        honda|        odyssey|             LX|  minivan|   automatic|5fnrl3h27ab080213|   ca|      2.7|   79116|   white|     tan|high bid trading ...| 9825|       12500|Wed Dec 17 2014 1...|  minivan|
|2014|         ford|          focus|             SE|hatchback|   automatic|1fadp3k27el150647|   ga|      2.0|   24432|  silver|   black|enterprise vehicl...|12500|        8700|Thu Jan 08 2015 1...|hatchback|
|2007|       saturn|           aura|             XE|    sedan|   automatic|1g8zs57n27f208351|   ca|      3.8|  118943|   white|   beige|          valley kia| 3800|        3800|Thu Dec 18 2014 1...|    sedan|
|2011|mercedes-benz|        e-class|           E550|    sedan|   automatic|wddhf7cb8ba296721|   fl|      3.5|   43514|   white|   brown|mercedes-benz fin...|25600|       27600|Thu Dec 18 2014 0...|    sedan|
|2012|mercedes-benz|        m-class|  ML350 BlueTEC|      suv|   automatic|4jgda2eb1ca074994|   ca|      4.3|   45365|    gray|    gray| land rover san jose|35100|       35000|Tue Jan 06 2015 1...|      suv|
|2013|         ford|transit connect|  Cargo Van XLT|  minivan|   automatic|nm0ls7dn8dt148923|   tx|      4.7|    4551|   white|    gray|enterprise fleet ...|17200|       17000|Wed Dec 31 2014 1...|  minivan|
|2008|          gmc|       yukon xl|         Denali|      suv|   automatic|1gkfk66808j174939|   co|      2.5|  103200|   black|   black|  dtg operations inc|16850|       17500|Wed Dec 31 2014 1...|      suv|
|2014|          ram|           1500|            SLT| quad cab|   automatic|1c6rr6gt8es416221|   ca|      2.0|    3658|    gray|    gray|enterprise vehicl...|22500|       15900|Tue Dec 30 2014 1...|      cab|
|2014|    chevrolet| impala limited|      LTZ Fleet|    sedan|   automatic|2g1wc5e38e1147124|   fl|      4.0|   14080|    gray|   beige|      gm remarketing|15000|       15000|Mon Jan 26 2015 0...|    sedan|
|2008|          bmw|       1 series|           135i|    coupe|      manual|wbauc73578vf23541|   fl|      3.7|   80489|    blue|    gray|summer enterprise...|11700|       13500|Tue Dec 30 2014 0...|    coupe|
|2014|        dodge|        avenger|             SE|    sedan|   automatic|1c3cdzab6en110572|   co|      4.3|   27444|     red|   beige|        gm financial|11100|       11900|Tue Dec 23 2014 1...|    sedan|
|2012|   volkswagen|             cc|          Sport|    sedan|   automatic|wvwmn7an1ce540261|   fl|      4.1|   22991|    blue|   beige|expert auto group...|14050|       14700|Thu Dec 18 2014 1...|    sedan|
+----+-------------+---------------+---------------+---------+------------+-----------------+-----+---------+--------+--------+--------+--------------------+-----+------------+--------------------+---------+
only showing top 20 rows

In [25]:
# "year", "make", "model", "body", "transmission", "condition", "odometer", "color"
df.groupBy("make").count().sort("count").show()
df.groupBy("model").count().sort(desc("count")).show()
df.groupBy("body").count().sort(("count")).show()
df.groupBy("color").count().sort("count").show()
df.groupBy("interior").count().sort("count").show()
df.groupBy("transmission").count().sort("count").show()

+------------+-----+
|        make|count|
+------------+-----+
|       lotus|    1|
|      daewoo|    2|
| lamborghini|    3|
|      fisker|    9|
|    plymouth|   15|
|     ferrari|   15|
| rolls-royce|   15|
|         geo|   16|
|       tesla|   22|
|aston martin|   22|
|     bentley|  102|
|    maserati|  105|
|       isuzu|  167|
|  oldsmobile|  307|
|       smart|  332|
|        saab|  404|
|        fiat|  673|
|      hummer|  738|
|      suzuki|  945|
|     porsche| 1136|
+------------+-----+
only showing top 20 rows

+--------------+-----+
|         model|count|
+--------------+-----+
|        altima|15094|
|         f-150|10713|
|         camry|10405|
|        fusion|10079|
|        escape| 9127|
|        accord| 8327|
|         focus| 8258|
|        impala| 7275|
|         civic| 6894|
| grand caravan| 6586|
|       corolla| 6533|
|       g sedan| 6526|
|      3 series| 6503|
|        malibu| 6015|
|        sonata| 5513|
|silverado 1500| 5510|
|         cruze| 5211|
|       elantra| 5190|
|      explorer| 5187|
|        maxima| 5121|
+--------------+-----+
only showing top 20 rows

+--------------------+-----+
|                body|count|
+--------------------+-----+
|         cts-v wagon|    1|
|            cab plus|    2|
|          cab plus 4|    5|
|granturismo conve...|   10|
|           g37 coupe|   11|
|           cts wagon|   11|
|         regular-cab|   13|
|         transit van|   16|
|     g37 convertible|   19|
|         cts-v coupe|   25|
|     tsx sport wagon|   28|
|     q60 convertible|   30|
|           q60 coupe|   31|
|             xtracab|   34|
|  beetle convertible|   36|
| promaster cargo van|   55|
|       elantra coupe|   84|
|            mega cab|   93|
|           cts coupe|  118|
|            club cab|  143|
+--------------------+-----+
only showing top 20 rows

+---------+-----+
|    color|count|
+---------+-----+
|     lime|   11|
|     pink|   36|
|turquoise|  189|
| charcoal|  425|
|   yellow| 1060|
|off-white| 1231|
|   purple| 1249|
|   orange| 1709|
|    brown| 5473|
|    beige| 7292|
| burgundy| 7459|
|    green| 8983|
|     gold| 9309|
|      red|36494|
|     blue|41991|
|     gray|69257|
|   silver|69780|
|    white|87044|
|    black|91411|
+---------+-----+

+---------+------+
| interior| count|
+---------+------+
|   yellow|    19|
|   orange|   120|
| burgundy|   143|
|    green|   191|
|    white|   199|
|off-white|   249|
|     gold|   262|
|   purple|   269|
|     blue|   898|
|   silver|   972|
|      red|  1054|
|    brown|  6675|
|      tan| 35657|
|    beige| 48076|
|     gray|146599|
|    black|199020|
+---------+------+

+------------+------+
|transmission| count|
+------------+------+
|      manual| 15441|
|   automatic|424962|
+------------+------+

In [26]:
# Cast to respective data types
df = df.withColumn('mmr', col('mmr').cast('integer'))
df = df.withColumn('condition', col('condition').cast('double'))
df = df.withColumn('odometer', col('odometer').cast('integer'))

In [27]:
df.select(countDistinct("year")).show()
df.select(countDistinct("model")).show()

+--------------------+
|count(DISTINCT year)|
+--------------------+
|                  26|
+--------------------+

+---------------------+
|count(DISTINCT model)|
+---------------------+
|                  761|
+---------------------+

In [28]:
df.show()

+----+-------------+---------------+---------------+---------+------------+-----------------+-----+---------+--------+--------+--------+--------------------+-----+------------+--------------------+---------+
|year|         make|          model|           trim|     body|transmission|              vin|state|condition|odometer|   color|interior|              seller|  mmr|sellingprice|            saledate|body_type|
+----+-------------+---------------+---------------+---------+------------+-----------------+-----+---------+--------+--------+--------+--------------------+-----+------------+--------------------+---------+
|2013|    chevrolet|          cruze|            1LT|    sedan|   automatic|1g1pc5sb9d7167061|   va|      2.8|   29322|     red|    gray|fiserv/citizens a...|11200|       10200|Mon Dec 22 2014 0...|    sedan|
|2008|          gmc|         acadia|          SLT-2|      suv|   automatic|1gker33768j202809|   tx|      2.9|   97458|    gray|   black|ford motor credit...|12250|       11000|Tue Dec 23 2014 1...|      suv|
|2005|       nissan|         maxima|         3.5 SL|    sedan|   automatic|1n4ba41e25c827484|   va|      2.5|  118589|    blue|   black|dt credit corpora...| 3700|        3800|Thu Jan 22 2015 0...|    sedan|
|2007|       hummer|             h3|           Base|      suv|   automatic|5gtdn13ex78160245|   fl|      3.9|  107497|burgundy|   black|mercedes benz of ...|11400|       12700|Thu Dec 18 2014 1...|      suv|
|2004|      hyundai|         accent|             GL|    sedan|   automatic|kmhcg45c74u517860|   ca|      2.1|   85336|   green|   beige| aaero sweet company| 1225|        1800|Wed Dec 31 2014 1...|    sedan|
|2009|       toyota|         sienna|XLE 7-Passenger|  minivan|   automatic|5tdzk22c39s233823|   fl|      2.4|   79873|    gray|    gray|         palm toyota|12750|       10500|Wed Jan 07 2015 1...|  minivan|
|2013|        honda|        insight|             EX|hatchback|   automatic|jhmze2h78ds000083|   ca|      2.4|   31019|   white|    gray|ahfc/honda lease ...|13450|       11200|Thu Dec 18 2014 1...|hatchback|
|2012|          ram|           1500|            SLT| quad cab|   automatic|1c6rd7gp3cs292718|   md|      3.2|   26199|   black|   black|    chrysler capital|21600|       22600|Tue Dec 30 2014 0...|      cab|
|2010|        honda|        odyssey|             LX|  minivan|   automatic|5fnrl3h27ab080213|   ca|      2.7|   79116|   white|     tan|high bid trading ...| 9825|       12500|Wed Dec 17 2014 1...|  minivan|
|2014|         ford|          focus|             SE|hatchback|   automatic|1fadp3k27el150647|   ga|      2.0|   24432|  silver|   black|enterprise vehicl...|12500|        8700|Thu Jan 08 2015 1...|hatchback|
|2007|       saturn|           aura|             XE|    sedan|   automatic|1g8zs57n27f208351|   ca|      3.8|  118943|   white|   beige|          valley kia| 3800|        3800|Thu Dec 18 2014 1...|    sedan|
|2011|mercedes-benz|        e-class|           E550|    sedan|   automatic|wddhf7cb8ba296721|   fl|      3.5|   43514|   white|   brown|mercedes-benz fin...|25600|       27600|Thu Dec 18 2014 0...|    sedan|
|2012|mercedes-benz|        m-class|  ML350 BlueTEC|      suv|   automatic|4jgda2eb1ca074994|   ca|      4.3|   45365|    gray|    gray| land rover san jose|35100|       35000|Tue Jan 06 2015 1...|      suv|
|2013|         ford|transit connect|  Cargo Van XLT|  minivan|   automatic|nm0ls7dn8dt148923|   tx|      4.7|    4551|   white|    gray|enterprise fleet ...|17200|       17000|Wed Dec 31 2014 1...|  minivan|
|2008|          gmc|       yukon xl|         Denali|      suv|   automatic|1gkfk66808j174939|   co|      2.5|  103200|   black|   black|  dtg operations inc|16850|       17500|Wed Dec 31 2014 1...|      suv|
|2014|          ram|           1500|            SLT| quad cab|   automatic|1c6rr6gt8es416221|   ca|      2.0|    3658|    gray|    gray|enterprise vehicl...|22500|       15900|Tue Dec 30 2014 1...|      cab|
|2014|    chevrolet| impala limited|      LTZ Fleet|    sedan|   automatic|2g1wc5e38e1147124|   fl|      4.0|   14080|    gray|   beige|      gm remarketing|15000|       15000|Mon Jan 26 2015 0...|    sedan|
|2008|          bmw|       1 series|           135i|    coupe|      manual|wbauc73578vf23541|   fl|      3.7|   80489|    blue|    gray|summer enterprise...|11700|       13500|Tue Dec 30 2014 0...|    coupe|
|2014|        dodge|        avenger|             SE|    sedan|   automatic|1c3cdzab6en110572|   co|      4.3|   27444|     red|   beige|        gm financial|11100|       11900|Tue Dec 23 2014 1...|    sedan|
|2012|   volkswagen|             cc|          Sport|    sedan|   automatic|wvwmn7an1ce540261|   fl|      4.1|   22991|    blue|   beige|expert auto group...|14050|       14700|Thu Dec 18 2014 1...|    sedan|
+----+-------------+---------------+---------------+---------+------------+-----------------+-----+---------+--------+--------+--------+--------------------+-----+------------+--------------------+---------+
only showing top 20 rows

In [29]:
def is_numeric(value):
    try:
        float(value)
        return True
    except ValueError:
        return False

is_numeric_udf = udf(is_numeric, BooleanType())

df.filter(~is_numeric_udf(col("mmr"))).show()

+----+----+-----+----+----+------------+---+-----+---------+--------+-----+--------+------+---+------------+--------+---------+
|year|make|model|trim|body|transmission|vin|state|condition|odometer|color|interior|seller|mmr|sellingprice|saledate|body_type|
+----+----+-----+----+----+------------+---+-----+---------+--------+-----+--------+------+---+------------+--------+---------+
+----+----+-----+----+----+------------+---+-----+---------+--------+-----+--------+------+---+------------+--------+---------+

In [30]:
df.summary().show()

+-------+------------------+------+-----------------+-----------------+----------+------------+-----------------+------+------------------+------------------+------+--------+--------------------+-----------------+------------------+--------------------+---------+
|summary|              year|  make|            model|             trim|      body|transmission|              vin| state|         condition|          odometer| color|interior|              seller|              mmr|      sellingprice|            saledate|body_type|
+-------+------------------+------+-----------------+-----------------+----------+------------+-----------------+------+------------------+------------------+------+--------+--------------------+-----------------+------------------+--------------------+---------+
|  count|            440403|440403|           440403|           440403|    440403|      440403|           440403|440403|            440403|            440403|440403|  440403|              440403|           440403|            440403|              440403|   440403|
|   mean| 2010.135546306451|  NULL|792.9732079488999|378.9737514945275|      NULL|        NULL|             NULL|  NULL|3.4105601006355393| 67673.32837878034|  NULL|    NULL|                NULL|13645.91856776634|13499.895541129375|                NULL|     NULL|
| stddev|3.8343812960404224|  NULL|807.4243361140836|855.8373107132091|      NULL|        NULL|             NULL|  NULL|0.9418832997963358|52150.906014961205|  NULL|    NULL|                NULL|9435.569254344875|  9514.81231643145|                NULL|     NULL|
|    min|              1990| acura|         1 series|                !|access cab|   automatic|137za84341e193591|    al|               1.0|                 1| beige|   beige|"enterprise vehic...|               25|                 1|Fri Apr 03 2015 0...|      cab|
|    25%|              2008|  NULL|            200.0|              2.5|      NULL|        NULL|             NULL|  NULL|               2.7|             28808|  NULL|    NULL|                NULL|             7250|              7000|                NULL|     NULL|
|    50%|              2012|  NULL|            300.0|              2.5|      NULL|        NULL|             NULL|  NULL|               3.6|             52488|  NULL|    NULL|                NULL|            12150|             12000|                NULL|     NULL|
|    75%|              2013|  NULL|           1500.0|              3.8|      NULL|        NULL|             NULL|  NULL|               4.2|             97884|  NULL|    NULL|                NULL|            18050|             18000|                NULL|     NULL|
|    max|              2015| volvo|           zephyr|        xDrive50i|   xtracab|      manual|zhwgu22t97la05738|    wi|               5.0|            999999|yellow|  yellow|      zygi auto corp|           182000|            230000|Wed May 27 2015 1...|    wagon|
+-------+------------------+------+-----------------+-----------------+----------+------------+-----------------+------+------------------+------------------+------+--------+--------------------+-----------------+------------------+--------------------+---------+

In [31]:
# Body Type Categorization
df = df.withColumn(
    "body_type",
     when(col("body").like("%cab%"), "cab")
    .when(col("body").like("%suv%"), "suv")
    .when(col("body").like("%sedan%"), "sedan")
    .when(col("body").like("%hatchback%"), "hatchback")
    .when(col("body") == "minivan", "minivan")
    .when(col("body").like("%van%"), "van")
    .when(col("body") == "supercrew", "cab")
    .when(col("body").like("%coupe%"), "coupe")
    .when(col("body").like("%wagon%"), "wagon")
    .when(col("body").like("%convertible%"), "convertible")
    .when(col("body").like("%koup%"), "koup")
)
df.groupBy("body_type").count().sort(desc("count")).show()

+-----------+------+
|  body_type| count|
+-----------+------+
|      sedan|203397|
|        suv|112922|
|        cab| 38070|
|  hatchback| 21539|
|    minivan| 20907|
|      coupe| 16679|
|      wagon| 13378|
|convertible|  8905|
|        van|  4449|
|       koup|   157|
+-----------+------+

## Model-Making

In [32]:
# "year", "make", "model", "body", "transmission", "condition", "odometer", "color"
features_df = df.select(["year", "body_type", "transmission", "condition", "odometer", "color", "interior", "mmr"])
features_df.show()

+----+-----------+------------+---------+--------+--------+--------+-----+
|year|  body_type|transmission|condition|odometer|   color|interior|  mmr|
+----+-----------+------------+---------+--------+--------+--------+-----+
|2009|      sedan|   automatic|      2.9|   91341|   black|   black| 8650|
|2008|convertible|   automatic|      3.3|   69135|     red|   black| 7500|
|2008|        suv|   automatic|      4.1|  170726|    blue|    gray|10300|
|2006|      sedan|   automatic|      1.9|  110866|     red|    gray| 2025|
|2013|      sedan|      manual|      3.9|   24072|    gray|   black|11750|
|2013|        suv|   automatic|      3.7|   19499|  silver|   black|17050|
|2010|      sedan|   automatic|      2.0|  153354|    gray|    gray| 5750|
|2010|        cab|   automatic|      2.6|   76422|   black|    gray|19400|
|2014|        van|   automatic|      4.9|    5620|   white|    gray|20400|
|2014|        cab|   automatic|      4.2|   17665|     red|    gray|20500|
|2012|        suv|   automatic|      4.1|   41449|   white|   beige|28800|
|2014|      sedan|   automatic|      3.8|   16379|    gray|   black|29500|
|2012|        suv|   automatic|      2.0|   26796|  silver|    gray|16300|
|2001|        suv|   automatic|      1.9|  156047|  silver|    gray| 2000|
|2005|        cab|   automatic|      3.5|  121260|   black|    gray| 7675|
|2008|convertible|   automatic|      4.1|   36138|   green|   beige| 8700|
|2006|      coupe|   automatic|      1.9|  146935|  silver|   black| 4100|
|2009|  hatchback|   automatic|      2.5|   50111|    blue|   black| 8675|
|2011|      sedan|   automatic|      2.6|   75999|burgundy|    gray| 7525|
|2012|        suv|   automatic|      3.0|   25810|    gray|    gray|16600|
+----+-----------+------------+---------+--------+--------+--------+-----+
only showing top 20 rows

In [33]:
from pyspark.sql.types import *
from pyspark.ml.feature import StringIndexer
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.feature import VectorIndexer
from pyspark.ml import Pipeline

In [34]:
indexers = [StringIndexer(inputCol=col, outputCol=col+'_idx').fit(features_df) for col in ["body_type", "transmission","color", "interior"]]
pipeline = Pipeline(stages=indexers)
features_df = pipeline.fit(features_df).transform(features_df)
features_df.show()

+----+-----------+------------+---------+--------+--------+--------+-----+-------------+----------------+---------+------------+
|year|  body_type|transmission|condition|odometer|   color|interior|  mmr|body_type_idx|transmission_idx|color_idx|interior_idx|
+----+-----------+------------+---------+--------+--------+--------+-----+-------------+----------------+---------+------------+
|2009|      sedan|   automatic|      2.9|   91341|   black|   black| 8650|          0.0|             0.0|      0.0|         0.0|
|2008|convertible|   automatic|      3.3|   69135|     red|   black| 7500|          7.0|             0.0|      5.0|         0.0|
|2008|        suv|   automatic|      4.1|  170726|    blue|    gray|10300|          1.0|             0.0|      4.0|         1.0|
|2006|      sedan|   automatic|      1.9|  110866|     red|    gray| 2025|          0.0|             0.0|      5.0|         1.0|
|2013|      sedan|      manual|      3.9|   24072|    gray|   black|11750|          0.0|             1.0|      3.0|         0.0|
|2013|        suv|   automatic|      3.7|   19499|  silver|   black|17050|          1.0|             0.0|      2.0|         0.0|
|2010|      sedan|   automatic|      2.0|  153354|    gray|    gray| 5750|          0.0|             0.0|      3.0|         1.0|
|2010|        cab|   automatic|      2.6|   76422|   black|    gray|19400|          2.0|             0.0|      0.0|         1.0|
|2014|        van|   automatic|      4.9|    5620|   white|    gray|20400|          8.0|             0.0|      1.0|         1.0|
|2014|        cab|   automatic|      4.2|   17665|     red|    gray|20500|          2.0|             0.0|      5.0|         1.0|
|2012|        suv|   automatic|      4.1|   41449|   white|   beige|28800|          1.0|             0.0|      1.0|         2.0|
|2014|      sedan|   automatic|      3.8|   16379|    gray|   black|29500|          0.0|             0.0|      3.0|         0.0|
|2012|        suv|   automatic|      2.0|   26796|  silver|    gray|16300|          1.0|             0.0|      2.0|         1.0|
|2001|        suv|   automatic|      1.9|  156047|  silver|    gray| 2000|          1.0|             0.0|      2.0|         1.0|
|2005|        cab|   automatic|      3.5|  121260|   black|    gray| 7675|          2.0|             0.0|      0.0|         1.0|
|2008|convertible|   automatic|      4.1|   36138|   green|   beige| 8700|          7.0|             0.0|      7.0|         2.0|
|2006|      coupe|   automatic|      1.9|  146935|  silver|   black| 4100|          5.0|             0.0|      2.0|         0.0|
|2009|  hatchback|   automatic|      2.5|   50111|    blue|   black| 8675|          3.0|             0.0|      4.0|         0.0|
|2011|      sedan|   automatic|      2.6|   75999|burgundy|    gray| 7525|          0.0|             0.0|      8.0|         1.0|
|2012|        suv|   automatic|      3.0|   25810|    gray|    gray|16600|          1.0|             0.0|      3.0|         1.0|
+----+-----------+------------+---------+--------+--------+--------+-----+-------------+----------------+---------+------------+
only showing top 20 rows

In [35]:
assembler = VectorAssembler(
    inputCols=["year", "body_type_idx", "transmission_idx", "odometer", "color_idx", "interior_idx"],
    outputCol="features"
)
features_df = assembler.transform(features_df)
features_df.show(truncate=False)

+----+-----------+------------+---------+--------+--------+--------+-----+-------------+----------------+---------+------------+---------------------------------+
|year|body_type  |transmission|condition|odometer|color   |interior|mmr  |body_type_idx|transmission_idx|color_idx|interior_idx|features                         |
+----+-----------+------------+---------+--------+--------+--------+-----+-------------+----------------+---------+------------+---------------------------------+
|2009|sedan      |automatic   |2.9      |91341   |black   |black   |8650 |0.0          |0.0             |0.0      |0.0         |(6,[0,3],[2009.0,91341.0])       |
|2008|convertible|automatic   |3.3      |69135   |red     |black   |7500 |7.0          |0.0             |5.0      |0.0         |[2008.0,7.0,0.0,69135.0,5.0,0.0] |
|2008|suv        |automatic   |4.1      |170726  |blue    |gray    |10300|1.0          |0.0             |4.0      |1.0         |[2008.0,1.0,0.0,170726.0,4.0,1.0]|
|2006|sedan      |automatic   |1.9      |110866  |red     |gray    |2025 |0.0          |0.0             |5.0      |1.0         |[2006.0,0.0,0.0,110866.0,5.0,1.0]|
|2013|sedan      |manual      |3.9      |24072   |gray    |black   |11750|0.0          |1.0             |3.0      |0.0         |[2013.0,0.0,1.0,24072.0,3.0,0.0] |
|2013|suv        |automatic   |3.7      |19499   |silver  |black   |17050|1.0          |0.0             |2.0      |0.0         |[2013.0,1.0,0.0,19499.0,2.0,0.0] |
|2010|sedan      |automatic   |2.0      |153354  |gray    |gray    |5750 |0.0          |0.0             |3.0      |1.0         |[2010.0,0.0,0.0,153354.0,3.0,1.0]|
|2010|cab        |automatic   |2.6      |76422   |black   |gray    |19400|2.0          |0.0             |0.0      |1.0         |[2010.0,2.0,0.0,76422.0,0.0,1.0] |
|2014|van        |automatic   |4.9      |5620    |white   |gray    |20400|8.0          |0.0             |1.0      |1.0         |[2014.0,8.0,0.0,5620.0,1.0,1.0]  |
|2014|cab        |automatic   |4.2      |17665   |red     |gray    |20500|2.0          |0.0             |5.0      |1.0         |[2014.0,2.0,0.0,17665.0,5.0,1.0] |
|2012|suv        |automatic   |4.1      |41449   |white   |beige   |28800|1.0          |0.0             |1.0      |2.0         |[2012.0,1.0,0.0,41449.0,1.0,2.0] |
|2014|sedan      |automatic   |3.8      |16379   |gray    |black   |29500|0.0          |0.0             |3.0      |0.0         |[2014.0,0.0,0.0,16379.0,3.0,0.0] |
|2012|suv        |automatic   |2.0      |26796   |silver  |gray    |16300|1.0          |0.0             |2.0      |1.0         |[2012.0,1.0,0.0,26796.0,2.0,1.0] |
|2001|suv        |automatic   |1.9      |156047  |silver  |gray    |2000 |1.0          |0.0             |2.0      |1.0         |[2001.0,1.0,0.0,156047.0,2.0,1.0]|
|2005|cab        |automatic   |3.5      |121260  |black   |gray    |7675 |2.0          |0.0             |0.0      |1.0         |[2005.0,2.0,0.0,121260.0,0.0,1.0]|
|2008|convertible|automatic   |4.1      |36138   |green   |beige   |8700 |7.0          |0.0             |7.0      |2.0         |[2008.0,7.0,0.0,36138.0,7.0,2.0] |
|2006|coupe      |automatic   |1.9      |146935  |silver  |black   |4100 |5.0          |0.0             |2.0      |0.0         |[2006.0,5.0,0.0,146935.0,2.0,0.0]|
|2009|hatchback  |automatic   |2.5      |50111   |blue    |black   |8675 |3.0          |0.0             |4.0      |0.0         |[2009.0,3.0,0.0,50111.0,4.0,0.0] |
|2011|sedan      |automatic   |2.6      |75999   |burgundy|gray    |7525 |0.0          |0.0             |8.0      |1.0         |[2011.0,0.0,0.0,75999.0,8.0,1.0] |
|2012|suv        |automatic   |3.0      |25810   |gray    |gray    |16600|1.0          |0.0             |3.0      |1.0         |[2012.0,1.0,0.0,25810.0,3.0,1.0] |
+----+-----------+------------+---------+--------+--------+--------+-----+-------------+----------------+---------+------------+---------------------------------+
only showing top 20 rows

In [36]:
features_vector_df = features_df.select(['features','mmr'])
features_vector_df = features_vector_df.withColumn('mmr', features_vector_df['mmr'].cast(IntegerType()))
features_vector_df.show(truncate=False)

+---------------------------------+-----+
|features                         |mmr  |
+---------------------------------+-----+
|(6,[0,3],[2008.0,128962.0])      |5475 |
|[2011.0,0.0,0.0,52875.0,0.0,2.0] |16950|
|[2002.0,0.0,0.0,125093.0,3.0,0.0]|2475 |
|[2014.0,5.0,0.0,4760.0,5.0,0.0]  |18100|
|[2011.0,1.0,0.0,49007.0,2.0,0.0] |21000|
|[2010.0,1.0,0.0,82837.0,0.0,1.0] |27600|
|[2011.0,2.0,0.0,47190.0,5.0,1.0] |15700|
|[2004.0,2.0,0.0,117633.0,9.0,2.0]|4825 |
|[2015.0,1.0,0.0,21433.0,3.0,0.0] |19600|
|[2005.0,0.0,0.0,118274.0,4.0,0.0]|4775 |
|[2013.0,0.0,0.0,19031.0,0.0,10.0]|33100|
|[2011.0,0.0,0.0,72619.0,1.0,0.0] |7875 |
|[2008.0,0.0,0.0,108617.0,0.0,1.0]|4475 |
|[2006.0,0.0,0.0,97114.0,0.0,1.0] |10500|
|[2006.0,1.0,0.0,117611.0,1.0,1.0]|3525 |
|[2012.0,0.0,0.0,56051.0,3.0,0.0] |11200|
|[2004.0,0.0,1.0,126041.0,2.0,0.0]|2325 |
|[2013.0,0.0,0.0,39510.0,8.0,0.0] |19800|
|[2013.0,1.0,0.0,21231.0,1.0,1.0] |15650|
|[2013.0,4.0,0.0,26123.0,3.0,0.0] |13250|
+---------------------------------+-----+
only showing top 20 rows

In [48]:
(trainData, testData) = features_vector_df.randomSplit([0.8, 0.2], seed=42)

In [49]:
trainData.show()

+--------------------+----+
|            features| mmr|
+--------------------+----+
|(6,[0,3],[1991.0,...| 825|
|(6,[0,3],[1995.0,...|1825|
|(6,[0,3],[1995.0,...| 550|
|(6,[0,3],[1996.0,...| 850|
|(6,[0,3],[1996.0,...| 850|
|(6,[0,3],[1997.0,...| 950|
|(6,[0,3],[1998.0,...|1650|
|(6,[0,3],[1998.0,...| 700|
|(6,[0,3],[1998.0,...| 925|
|(6,[0,3],[1999.0,...|1575|
|(6,[0,3],[1999.0,...|2275|
|(6,[0,3],[1999.0,...|2025|
|(6,[0,3],[1999.0,...|1000|
|(6,[0,3],[1999.0,...|1475|
|(6,[0,3],[1999.0,...|2025|
|(6,[0,3],[2000.0,...|2050|
|(6,[0,3],[2000.0,...|2850|
|(6,[0,3],[2000.0,...|1925|
|(6,[0,3],[2000.0,...|1750|
|(6,[0,3],[2000.0,...|1725|
+--------------------+----+
only showing top 20 rows

In [50]:
# Import classification models

from pyspark.ml.regression import RandomForestRegressor

In [51]:
rf = RandomForestRegressor(labelCol="mmr", featuresCol="features").fit(trainData)

In [52]:
predictedData = rf.transform(testData)
predictedData.show()

+--------------------+----+------------------+
|            features| mmr|        prediction|
+--------------------+----+------------------+
|(6,[0,3],[1995.0,...|1000|3772.2759705701947|
|(6,[0,3],[1997.0,...|1175|3772.2759705701947|
|(6,[0,3],[1998.0,...|4000|12315.465208868423|
|(6,[0,3],[1999.0,...| 825|5271.3616879513675|
|(6,[0,3],[2000.0,...|2900|11150.932468240342|
|(6,[0,3],[2000.0,...|2625| 4145.303389299348|
|(6,[0,3],[2000.0,...| 950|3772.2759705701947|
|(6,[0,3],[2001.0,...|2300| 6626.539169637092|
|(6,[0,3],[2001.0,...|1425|3753.7845590225274|
|(6,[0,3],[2001.0,...|1850|3753.7845590225274|
|(6,[0,3],[2001.0,...|2175|3753.7845590225274|
|(6,[0,3],[2001.0,...|2525|3753.7845590225274|
|(6,[0,3],[2001.0,...|3550|3753.7845590225274|
|(6,[0,3],[2001.0,...| 975|3753.7845590225274|
|(6,[0,3],[2002.0,...|5125| 6700.053904849291|
|(6,[0,3],[2002.0,...|1800| 5344.876423163568|
|(6,[0,3],[2002.0,...|3075|3827.2992942347278|
|(6,[0,3],[2003.0,...|6025| 6363.784416557144|
|(6,[0,3],[2003.0,...|2950| 4717.405432177123|
|(6,[0,3],[2003.0,...|3100| 4218.818124511547|
+--------------------+----+------------------+
only showing top 20 rows

In [53]:
from pyspark.ml.regression import LinearRegression

In [54]:
lr = LinearRegression(labelCol="mmr", featuresCol="features")

In [55]:
# Fit the LinearRegression model to the training data
lrModel = lr.fit(trainData)

# Use the trained model to make predictions on the test data
predictedData = lrModel.transform(testData)

# Show the predicted data
predictedData.show()

24/05/21 22:13:44 WARN Instrumentation: [f0a03281] regParam is zero, which might cause numerical instability and overfitting.

+--------------------+----+------------------+
|            features| mmr|        prediction|
+--------------------+----+------------------+
|(6,[0,3],[1995.0,...|1000|-7477.758853127714|
|(6,[0,3],[1997.0,...|1175|-4854.502307966119|
|(6,[0,3],[1998.0,...|4000| 6491.479753039312|
|(6,[0,3],[1999.0,...| 825|1484.4832051359117|
|(6,[0,3],[2000.0,...|2900| 6049.502044158056|
|(6,[0,3],[2000.0,...|2625|1243.0052000151481|
|(6,[0,3],[2000.0,...| 950| -3088.20066066063|
|(6,[0,3],[2001.0,...|2300| 4934.584440817358|
|(6,[0,3],[2001.0,...|1425| 568.7619451463688|
|(6,[0,3],[2001.0,...|1850|285.00870034401305|
|(6,[0,3],[2001.0,...|2175|267.64307053689845|
|(6,[0,3],[2001.0,...|2525|27.045994859188795|
|(6,[0,3],[2001.0,...|3550|-85.17150732688606|
|(6,[0,3],[2001.0,...| 975|-800.7156926142052|
|(6,[0,3],[2002.0,...|5125| 5838.550255252281|
|(6,[0,3],[2002.0,...|1800|4077.8014798900113|
|(6,[0,3],[2002.0,...|3075|  1579.44328004634|
|(6,[0,3],[2003.0,...|6025| 5978.657607411966|
|(6,[0,3],[2003.0,...|2950| 4663.512039146852|
|(6,[0,3],[2003.0,...|3100|3975.3631378456485|
+--------------------+----+------------------+
only showing top 20 rows

## Model Evaluation

In [56]:
# Import evaluation models

from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.mllib.evaluation import MulticlassMetrics

In [57]:
evaluator1 = RegressionEvaluator(
    labelCol="mmr", predictionCol="prediction", metricName="rmse")
evaluator2 = RegressionEvaluator(
    labelCol="mmr", predictionCol="prediction", metricName="mse")
evaluator3 = RegressionEvaluator(
    labelCol="mmr", predictionCol="prediction", metricName="r2")
rmse = evaluator1.evaluate(predictedData)
mse = evaluator2.evaluate(predictedData)
r2 = evaluator3.evaluate(predictedData)
print("Root Mean Squared Error (RMSE)", rmse)
print("Mean Squared Error (MSE)", mse)
print("R-squared (R²)", r2)

Root Mean Squared Error (RMSE) 7223.210532345055
Mean Squared Error (MSE) 52174770.394580536
R-squared (R²) 0.4055157492134709

In [58]:
predictions = predictedData.withColumn("ape", abs((col("mmr") - col("prediction")) / col("mmr")))
mape = predictions.select(mean(col("ape"))).collect()[0][0] * 100

print(f"Mean Absolute Percentage Error (MAPE) on test data = {mape}%")

Mean Absolute Percentage Error (MAPE) on test data = 63.076883842008236%