In [1]:
from pyspark.sql import SparkSession

spark = (SparkSession.builder
         .appName('Used Car Prediction')
         .master('local[*]')
         .getOrCreate()
        )

In [2]:
df = spark.read.format('csv').options(header=True, inferSchema=True).load('dataset/car_prices.csv').repartition(4)
df.show(30, truncate=50)

+----+-------------+----------------+--------------------+-----------+------------+-----------------+-----+---------+--------+--------+--------+---------------------------------------------+-----+------------+---------------------------------------+
|year|         make|           model|                trim|       body|transmission|              vin|state|condition|odometer|   color|interior|                                       seller|  mmr|sellingprice|                               saledate|
+----+-------------+----------------+--------------------+-----------+------------+-----------------+-----+---------+--------+--------+--------+---------------------------------------------+-----+------------+---------------------------------------+
|2009|     Chrysler|Town and Country|             Touring|    Minivan|   automatic|2a8hr54179r570758|   wi|      1.6| 90655.0|    gold|     tan|                        dt credit corporation| 8425|        7900|Wed Jan 21 2015 02:00:00 GMT-0800 (PST)|
|2007|    Chevrolet|  Silverado 1500|          Work Truck|   Crew Cab|   automatic|2gcec13c971578282|   ca|     NULL|106732.0|    blue|   black|                                   auto plaza|13350|       14500|Thu Dec 18 2014 13:00:00 GMT-0800 (PST)|
|2011|       Nissan|            Leaf|                  SL|  Hatchback|   automatic|jn1az0cp8bt007673|   wa|      4.1| 21852.0|     red|   beige|                           nissan-infiniti lt|10450|       10900|Wed Jan 21 2015 06:40:00 GMT-0800 (PST)|
|2006|          GMC|        Envoy XL|              Denali|        SUV|   automatic|1gket66m066153160|   nv|        2|121829.0|   black|       —|                    titlemax/fort apache-nv16| 7275|        5900|Wed Dec 31 2014 11:00:00 GMT-0800 (PST)|
|2011|         Ford|           F-150|                 XLT|  SuperCrew|        NULL|1ftfw1et2bke11814|   mi|      4.8| 31961.0|    gray|    gray|                       automobiles paille inc|25500|       24500|Thu Dec 18 2014 09:30:00 GMT-0800 (PST)|
|2007|       HUMMER|              H3|                Base|        SUV|   automatic|5gtdn13ex78160245|   fl|      3.9|107497.0|burgundy|   black|                       mercedes benz of tampa|11400|       12700|Thu Dec 18 2014 16:20:00 GMT-0800 (PST)|
|2004|   Volkswagen|           Jetta|            GLI 1.8T|      Sedan|        NULL|3vwse69m54m021929|   il|     NULL|106381.0|    blue|       —|                      grossinger autoplex inc| 2700|        2500|Thu Dec 18 2014 14:00:00 GMT-0800 (PST)|
|2012|      Hyundai|   Sonata Hybrid|                Base|      Sedan|   automatic|kmhec4a49ca060519|   fl|      4.1| 50306.0|     red|     tan|                                      gte fcu|13250|       13100|Tue Dec 23 2014 14:00:00 GMT-0800 (PST)|
|2014|    Chevrolet|          Impala|                 LTZ|      Sedan|   automatic|2g1155s3xe9133901|   fl|        4| 14037.0|   black|   black|                               gm remarketing|24300|       24700|Mon Feb 09 2015 05:00:00 GMT-0800 (PST)|
|2014|          Kia|           Forte|                  LX|      Sedan|   automatic|knafx4a60e5210850|   wi|      3.8| 12835.0|     red|    gray|                      kia motors america, inc|12550|       11900|Wed Feb 18 2015 02:00:00 GMT-0800 (PST)|
|2007|         Jeep|        Wrangler|                   X|        SUV|      manual|1j4fa24167l160554|   pa|     NULL| 60967.0|   green|       —|                               randy ford inc|13150|       13900|Fri Dec 19 2014 09:15:00 GMT-0800 (PST)|
|2006|          Kia|             Rio|                Base|      Sedan|   automatic|knade123066035429|   ga|     NULL|182744.0|  silver|   black|                                cars & trucks| 1400|        2150|Thu Dec 18 2014 10:00:00 GMT-0800 (PST)|
|2011|   Volkswagen|          Tiguan|                  SE|        SUV|   automatic|wvgav7axxbw524469|   tx|      2.5| 69830.0|   white|    gray|                                    vw credit|10550|       10200|Thu Dec 18 2014 11:00:00 GMT-0800 (PST)|
|2010|        Honda|         Odyssey|                  LX|    Minivan|   automatic|5fnrl3h27ab080213|   ca|      2.7| 79116.0|   white|     tan|                      high bid trading co inc| 9825|       12500|Wed Dec 17 2014 12:15:00 GMT-0800 (PST)|
|2011|         Ford|         Mustang|                  V6|      Coupe|   automatic|1zvbp8am6b5130291|   sc|      2.8| 74223.0|    blue|   black|                            pnc national bank|11350|       12000|Tue Dec 23 2014 09:15:00 GMT-0800 (PST)|
|2011|        Buick|         Enclave|                CXL2|        SUV|   automatic|5gakvced6bj367698|   oh|      2.9| 33442.0|    gray|    gray|fiserv/usb dealer services northstar exchange|24100|       23100|Tue Jan 13 2015 09:30:00 GMT-0800 (PST)|
|2007|       Saturn|            Aura|                  XE|      Sedan|   automatic|1g8zs57n27f208351|   ca|      3.8|118943.0|   white|   beige|                                   valley kia| 3800|        3800|Thu Dec 18 2014 12:00:00 GMT-0800 (PST)|
|2004|      Pontiac|      Grand Prix|                 GT1|      Sedan|   automatic|2g2wp522941339050|   nc|      1.7|117538.0|  silver|   black|                                 dt inventory| 2500|        1300|Tue Dec 30 2014 09:30:00 GMT-0800 (PST)|
|2014|         Ford|  E-Series Wagon|E-350 Super Duty XLT|        Van|        NULL|1fbne3blxedb01678|   mn|      3.5| 15939.0|       —|    gray|                            avis budget group|20100|       19900|Tue Dec 23 2014 14:00:00 GMT-0800 (PST)|
|2008|     Chrysler|         Sebring|             Limited|Convertible|   automatic|1c3lc65m98n573663|   tx|        2|131199.0|   white|     tan|                     caprock auto remarketing| 3175|        1300|Thu Dec 18 2014 14:00:00 GMT-0800 (PST)|
|2011|    Chevrolet|        Traverse|                 LT2|        SUV|   automatic|1gnkrjed2bj415308|   ca|      2.6| 25305.0|  silver|    gray|fiserv/usb dealer services northstar exchange|19150|       18500|Tue Dec 16 2014 12:30:00 GMT-0800 (PST)|
|2009|       Nissan|           Rogue|                  SL|        SUV|   automatic|jn8as58v49w436294|   ma|      3.5| 51698.0|  silver|   black|                     capital one auto finance|11000|       12600|Tue Jan 06 2015 01:30:00 GMT-0800 (PST)|
|2006|         jeep|        wrangler|            6c sport|       NULL|        NULL|1j4fa49s36p702035|   fl|      2.2| 76807.0|   black|   black|                 remarketing by ge/penair fcu|12900|        9500|Tue Dec 30 2014 11:15:00 GMT-0800 (PST)|
|2011|     Infiniti|         G Sedan|                G25x|    G Sedan|        NULL|jn1dv6arxbm451146|   pa|      2.8| 34154.0|   black|   black|                           nissan infiniti lt|17200|       16000|Tue Dec 23 2014 09:00:00 GMT-0800 (PST)|
|2012|        Scion|              iQ|                Base|  Hatchback|   automatic|jtnjjxb01cj012739|   ga|      4.3| 14821.0|    gray|   black|                    toyota financial services| 9375|        9200|Thu Dec 18 2014 10:00:00 GMT-0800 (PST)|
|2008|         Audi|              S6|             quattro|      Sedan|        NULL|waudn74f78n015312|   va|      2.6|119236.0|  silver|    gray|                    brown's volkswagen suzuki|16700|       14200|Thu Dec 18 2014 09:05:00 GMT-0800 (PST)|
|2013|       Nissan|           Rogue|                  SV|        SUV|        NULL|jn8as5mt1dw014710|   ca|      4.3| 22338.0|  silver|   black|                    nissan north america inc.|15050|       18000|Tue Dec 16 2014 12:30:00 GMT-0800 (PST)|
|2014|          GMC|     Sierra 1500|                 SLT|   Crew Cab|   automatic|3gtu2vec4eg141863|   tx|      4.4| 31048.0|    blue|   brown|                     winter motor company inc|34500|       35300|Wed Dec 31 2014 10:20:00 GMT-0800 (PST)|
|2013|Mercedes-Benz|         C-Class|                C250|      Coupe|   automatic|wddgj4hb6df984949|   nv|      4.5| 21632.0|   white|   black|             mercedes-benz financial services|24600|       24250|Thu Jan 22 2015 06:00:00 GMT-0800 (PST)|
|2014|     Infiniti|             Q50|             Premium|      Sedan|   automatic|jn1bv7apxem671757|   ca|      3.8| 12397.0|   black|   black|                    nissan north america inc.|29900|       30000|Thu Dec 18 2014 12:30:00 GMT-0800 (PST)|
+----+-------------+----------------+--------------------+-----------+------------+-----------------+-----+---------+--------+--------+--------+---------------------------------------------+-----+------------+---------------------------------------+
only showing top 30 rows

In [4]:
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [48]:
# Count for missing numbers
df.select([count(when(isnan(c) | isnull(c),1)).alias(c) for c in df.columns]).show()

+----+----+-----+----+----+------------+---+-----+---------+--------+-----+--------+------+---+------------+--------+
|year|make|model|trim|body|transmission|vin|state|condition|odometer|color|interior|seller|mmr|sellingprice|saledate|
+----+----+-----+----+----+------------+---+-----+---------+--------+-----+--------+------+---+------------+--------+
|   0|   0|    0|   0|   0|           0|  0|    0|        0|       0|    0|       0|     0|  0|           0|       0|
+----+----+-----+----+----+------------+---+-----+---------+--------+-----+--------+------+---+------------+--------+

In [6]:
df = df.dropna(subset=["year", "make", "model", "body", "transmission", "condition", "odometer", "color"])
df.show()

+----+-------------+--------+-------+-----------+------------+-----------------+-----+---------+--------+------+--------+--------------------+-----+------------+--------------------+
|year|         make|   model|   trim|       body|transmission|              vin|state|condition|odometer| color|interior|              seller|  mmr|sellingprice|            saledate|
+----+-------------+--------+-------+-----------+------------+-----------------+-----+---------+--------+------+--------+--------------------+-----+------------+--------------------+
|2013|    Chevrolet|   Cruze|    1LT|      Sedan|   automatic|1g1pc5sb9d7167061|   va|      2.8| 29322.0|   red|    gray|fiserv/citizens a...|11200|       10200|Mon Dec 22 2014 0...|
|2008|          GMC|  Acadia|  SLT-2|        SUV|   automatic|1gker33768j202809|   tx|      2.9| 97458.0|  gray|   black|ford motor credit...|12250|       11000|Tue Dec 23 2014 1...|
|2005|       Nissan|  Maxima| 3.5 SL|      Sedan|   automatic|1n4ba41e25c827484|   va|      2.5|118589.0|  blue|   black|dt credit corpora...| 3700|        3800|Thu Jan 22 2015 0...|
|2014|          Kia|     Rio|     LX|      Sedan|   automatic|knadm4a30e6373742|   ca|      4.9| 15106.0|silver|   black|kia motors americ...|11500|       12500|Tue Dec 16 2014 1...|
|2004|        Mazda|  Mazda6|      s|      Sedan|      manual|1yvfp80d545n25596|   md|        2|173650.0|silver|   black|coastal credit ll...| 1800|        1100|Tue Jan 20 2015 0...|
|2014|    Chevrolet|  Impala|    LTZ|      Sedan|   automatic|2g1155s3xe9133901|   fl|        4| 14037.0| black|   black|      gm remarketing|24300|       24700|Mon Feb 09 2015 0...|
|2014|          BMW|2 Series|  M235i|      Coupe|   automatic|wba1j7c54evw84866|   nv|      4.2|  3001.0| black|   black|   bmw north america|39800|       33500|Thu Jan 22 2015 0...|
|2004|        Lexus|  LS 430|   Base|      Sedan|   automatic|jthbn36f840157562|   az|      3.6|114503.0| black|   beige|dealer network gr...|11650|       10700|Thu Dec 18 2014 1...|
|2011|   Volkswagen|  Tiguan|     SE|        SUV|   automatic|wvgav7axxbw524469|   tx|      2.5| 69830.0| white|    gray|           vw credit|10550|       10200|Thu Dec 18 2014 1...|
|2007|     Chrysler|     300|Touring|      Sedan|   automatic|2c3ka53g27h792545|   nc|      2.3| 82371.0|  gray|   beige|        dt inventory| 7475|        8600|Tue Dec 30 2014 0...|
|2012|      Hyundai|Veloster|   Base|  Hatchback|   automatic|kmhtc6ad4cu027591|   fl|      2.7| 33128.0|orange|   black|hyundai motor fin...|11950|       12600|Mon Dec 22 2014 0...|
|1999|       Nissan|  Sentra|    GXE|      Sedan|   automatic|1n4ab41d0xc711641|   ca|      2.4|163472.0|  gray|   black| aaero sweet company|  675|        1200|Wed Dec 17 2014 1...|
|2008|Mercedes-Benz|GL-Class|  GL450|        SUV|   automatic|4jgbf71e98a380127|   ca|      3.6| 55554.0|silver|   black|               ecars|21300|       23000|Tue Dec 30 2014 1...|
|2008|     Chrysler| Sebring|Limited|Convertible|   automatic|1c3lc65m98n573663|   tx|        2|131199.0| white|     tan|caprock auto rema...| 3175|        1300|Thu Dec 18 2014 1...|
|2011|    Chevrolet|Traverse|    LT2|        SUV|   automatic|1gnkrjed2bj415308|   ca|      2.6| 25305.0|silver|    gray|fiserv/usb dealer...|19150|       18500|Tue Dec 16 2014 1...|
|2009|       Nissan|   Rogue|     SL|        SUV|   automatic|jn8as58v49w436294|   ma|      3.5| 51698.0|silver|   black|capital one auto ...|11000|       12600|Tue Jan 06 2015 0...|
|2012|         Ford|   Focus|    SEL|  Hatchback|   automatic|1fahp3m23cl386692|   tx|      3.5| 38409.0|silver|   brown|remktgedge / cars...|10900|        9000|Wed Dec 31 2014 1...|
|2013|         Ford|  Escape|      S|        SUV|   automatic|1fmcu0f72dua92776|   mi|      2.5| 17732.0| black|    gray|ford motor credit...|14400|       12700|Thu Dec 18 2014 0...|
|2008|          GMC|  Acadia|  SLT-1|        SUV|   automatic|1gkev23728j197338|   nj|      3.5|128828.0| white|   black|  lester glenn buick| 8275|        7800|Wed Feb 04 2015 0...|
|2006|      Porsche|Cayman S|   Base|      Coupe|      manual|wp0ab29856u780789|   ca|      4.7| 65696.0| white|     tan|sports trend auto...|22200|       24500|Thu Dec 18 2014 1...|
+----+-------------+--------+-------+-----------+------------+-----------------+-----+---------+--------+------+--------+--------------------+-----+------------+--------------------+
only showing top 20 rows

In [47]:
df.count()

440403

In [41]:
df.printSchema()

root
 |-- year: integer (nullable = true)
 |-- make: string (nullable = true)
 |-- model: string (nullable = true)
 |-- trim: string (nullable = true)
 |-- body: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- vin: string (nullable = true)
 |-- state: string (nullable = true)
 |-- condition: double (nullable = true)
 |-- odometer: integer (nullable = true)
 |-- color: string (nullable = true)
 |-- interior: string (nullable = true)
 |-- seller: string (nullable = true)
 |-- mmr: integer (nullable = true)
 |-- sellingprice: integer (nullable = true)
 |-- saledate: string (nullable = true)

In [45]:
df = df.where((df["transmission"] == "automatic") | (df["transmission"] == "manual"))
df = df.where((df["color"] != '—'))
df = df.where((df["interior"] != '—'))
df.show()

+----+-------------+---------------+---------------+---------+------------+-----------------+-----+---------+--------+--------+--------+--------------------+-----+------------+--------------------+
|year|         make|          model|           trim|     body|transmission|              vin|state|condition|odometer|   color|interior|              seller|  mmr|sellingprice|            saledate|
+----+-------------+---------------+---------------+---------+------------+-----------------+-----+---------+--------+--------+--------+--------------------+-----+------------+--------------------+
|2013|    chevrolet|          cruze|            1LT|    sedan|   automatic|1g1pc5sb9d7167061|   va|      2.8|   29322|     red|    gray|fiserv/citizens a...|11200|       10200|Mon Dec 22 2014 0...|
|2008|          gmc|         acadia|          SLT-2|      suv|   automatic|1gker33768j202809|   tx|      2.9|   97458|    gray|   black|ford motor credit...|12250|       11000|Tue Dec 23 2014 1...|
|2005|       nissan|         maxima|         3.5 SL|    sedan|   automatic|1n4ba41e25c827484|   va|      2.5|  118589|    blue|   black|dt credit corpora...| 3700|        3800|Thu Jan 22 2015 0...|
|2007|       hummer|             h3|           Base|      suv|   automatic|5gtdn13ex78160245|   fl|      3.9|  107497|burgundy|   black|mercedes benz of ...|11400|       12700|Thu Dec 18 2014 1...|
|2004|      hyundai|         accent|             GL|    sedan|   automatic|kmhcg45c74u517860|   ca|      2.1|   85336|   green|   beige| aaero sweet company| 1225|        1800|Wed Dec 31 2014 1...|
|2009|       toyota|         sienna|XLE 7-Passenger|  minivan|   automatic|5tdzk22c39s233823|   fl|      2.4|   79873|    gray|    gray|         palm toyota|12750|       10500|Wed Jan 07 2015 1...|
|2013|        honda|        insight|             EX|hatchback|   automatic|jhmze2h78ds000083|   ca|      2.4|   31019|   white|    gray|ahfc/honda lease ...|13450|       11200|Thu Dec 18 2014 1...|
|2012|          ram|           1500|            SLT| quad cab|   automatic|1c6rd7gp3cs292718|   md|      3.2|   26199|   black|   black|    chrysler capital|21600|       22600|Tue Dec 30 2014 0...|
|2010|        honda|        odyssey|             LX|  minivan|   automatic|5fnrl3h27ab080213|   ca|      2.7|   79116|   white|     tan|high bid trading ...| 9825|       12500|Wed Dec 17 2014 1...|
|2014|         ford|          focus|             SE|hatchback|   automatic|1fadp3k27el150647|   ga|      2.0|   24432|  silver|   black|enterprise vehicl...|12500|        8700|Thu Jan 08 2015 1...|
|2007|       saturn|           aura|             XE|    sedan|   automatic|1g8zs57n27f208351|   ca|      3.8|  118943|   white|   beige|          valley kia| 3800|        3800|Thu Dec 18 2014 1...|
|2011|mercedes-benz|        e-class|           E550|    sedan|   automatic|wddhf7cb8ba296721|   fl|      3.5|   43514|   white|   brown|mercedes-benz fin...|25600|       27600|Thu Dec 18 2014 0...|
|2012|mercedes-benz|        m-class|  ML350 BlueTEC|      suv|   automatic|4jgda2eb1ca074994|   ca|      4.3|   45365|    gray|    gray| land rover san jose|35100|       35000|Tue Jan 06 2015 1...|
|2013|         ford|transit connect|  Cargo Van XLT|  minivan|   automatic|nm0ls7dn8dt148923|   tx|      4.7|    4551|   white|    gray|enterprise fleet ...|17200|       17000|Wed Dec 31 2014 1...|
|2008|          gmc|       yukon xl|         Denali|      suv|   automatic|1gkfk66808j174939|   co|      2.5|  103200|   black|   black|  dtg operations inc|16850|       17500|Wed Dec 31 2014 1...|
|2014|          ram|           1500|            SLT| quad cab|   automatic|1c6rr6gt8es416221|   ca|      2.0|    3658|    gray|    gray|enterprise vehicl...|22500|       15900|Tue Dec 30 2014 1...|
|2014|    chevrolet| impala limited|      LTZ Fleet|    sedan|   automatic|2g1wc5e38e1147124|   fl|      4.0|   14080|    gray|   beige|      gm remarketing|15000|       15000|Mon Jan 26 2015 0...|
|2008|          bmw|       1 series|           135i|    coupe|      manual|wbauc73578vf23541|   fl|      3.7|   80489|    blue|    gray|summer enterprise...|11700|       13500|Tue Dec 30 2014 0...|
|2014|        dodge|        avenger|             SE|    sedan|   automatic|1c3cdzab6en110572|   co|      4.3|   27444|     red|   beige|        gm financial|11100|       11900|Tue Dec 23 2014 1...|
|2012|   volkswagen|             cc|          Sport|    sedan|   automatic|wvwmn7an1ce540261|   fl|      4.1|   22991|    blue|   beige|expert auto group...|14050|       14700|Thu Dec 18 2014 1...|
+----+-------------+---------------+---------------+---------+------------+-----------------+-----+---------+--------+--------+--------+--------------------+-----+------------+--------------------+
only showing top 20 rows

In [30]:
df = df.withColumn("body", lower(df["body"]))
df = df.withColumn("make", lower(df["make"]))
df = df.withColumn("model", lower(df["model"]))
df.show()

+----+-------------+--------+-------+-----------+------------+-----------------+-----+---------+--------+------+--------+--------------------+-----+------------+--------------------+
|year|         make|   model|   trim|       body|transmission|              vin|state|condition|odometer| color|interior|              seller|  mmr|sellingprice|            saledate|
+----+-------------+--------+-------+-----------+------------+-----------------+-----+---------+--------+------+--------+--------------------+-----+------------+--------------------+
|2013|    chevrolet|   cruze|    1LT|      sedan|   automatic|1g1pc5sb9d7167061|   va|      2.8| 29322.0|   red|    gray|fiserv/citizens a...|11200|       10200|Mon Dec 22 2014 0...|
|2008|          gmc|  acadia|  SLT-2|        suv|   automatic|1gker33768j202809|   tx|      2.9| 97458.0|  gray|   black|ford motor credit...|12250|       11000|Tue Dec 23 2014 1...|
|2005|       nissan|  maxima| 3.5 SL|      sedan|   automatic|1n4ba41e25c827484|   va|      2.5|118589.0|  blue|   black|dt credit corpora...| 3700|        3800|Thu Jan 22 2015 0...|
|2014|          kia|     rio|     LX|      sedan|   automatic|knadm4a30e6373742|   ca|      4.9| 15106.0|silver|   black|kia motors americ...|11500|       12500|Tue Dec 16 2014 1...|
|2004|        mazda|  mazda6|      s|      sedan|      manual|1yvfp80d545n25596|   md|        2|173650.0|silver|   black|coastal credit ll...| 1800|        1100|Tue Jan 20 2015 0...|
|2014|    chevrolet|  impala|    LTZ|      sedan|   automatic|2g1155s3xe9133901|   fl|        4| 14037.0| black|   black|      gm remarketing|24300|       24700|Mon Feb 09 2015 0...|
|2014|          bmw|2 series|  M235i|      coupe|   automatic|wba1j7c54evw84866|   nv|      4.2|  3001.0| black|   black|   bmw north america|39800|       33500|Thu Jan 22 2015 0...|
|2004|        lexus|  ls 430|   Base|      sedan|   automatic|jthbn36f840157562|   az|      3.6|114503.0| black|   beige|dealer network gr...|11650|       10700|Thu Dec 18 2014 1...|
|2011|   volkswagen|  tiguan|     SE|        suv|   automatic|wvgav7axxbw524469|   tx|      2.5| 69830.0| white|    gray|           vw credit|10550|       10200|Thu Dec 18 2014 1...|
|2007|     chrysler|     300|Touring|      sedan|   automatic|2c3ka53g27h792545|   nc|      2.3| 82371.0|  gray|   beige|        dt inventory| 7475|        8600|Tue Dec 30 2014 0...|
|2012|      hyundai|veloster|   Base|  hatchback|   automatic|kmhtc6ad4cu027591|   fl|      2.7| 33128.0|orange|   black|hyundai motor fin...|11950|       12600|Mon Dec 22 2014 0...|
|1999|       nissan|  sentra|    GXE|      sedan|   automatic|1n4ab41d0xc711641|   ca|      2.4|163472.0|  gray|   black| aaero sweet company|  675|        1200|Wed Dec 17 2014 1...|
|2008|mercedes-benz|gl-class|  GL450|        suv|   automatic|4jgbf71e98a380127|   ca|      3.6| 55554.0|silver|   black|               ecars|21300|       23000|Tue Dec 30 2014 1...|
|2008|     chrysler| sebring|Limited|convertible|   automatic|1c3lc65m98n573663|   tx|        2|131199.0| white|     tan|caprock auto rema...| 3175|        1300|Thu Dec 18 2014 1...|
|2011|    chevrolet|traverse|    LT2|        suv|   automatic|1gnkrjed2bj415308|   ca|      2.6| 25305.0|silver|    gray|fiserv/usb dealer...|19150|       18500|Tue Dec 16 2014 1...|
|2009|       nissan|   rogue|     SL|        suv|   automatic|jn8as58v49w436294|   ma|      3.5| 51698.0|silver|   black|capital one auto ...|11000|       12600|Tue Jan 06 2015 0...|
|2012|         ford|   focus|    SEL|  hatchback|   automatic|1fahp3m23cl386692|   tx|      3.5| 38409.0|silver|   brown|remktgedge / cars...|10900|        9000|Wed Dec 31 2014 1...|
|2013|         ford|  escape|      S|        suv|   automatic|1fmcu0f72dua92776|   mi|      2.5| 17732.0| black|    gray|ford motor credit...|14400|       12700|Thu Dec 18 2014 0...|
|2008|          gmc|  acadia|  SLT-1|        suv|   automatic|1gkev23728j197338|   nj|      3.5|128828.0| white|   black|  lester glenn buick| 8275|        7800|Wed Feb 04 2015 0...|
|2006|      porsche|cayman s|   Base|      coupe|      manual|wp0ab29856u780789|   ca|      4.7| 65696.0| white|     tan|sports trend auto...|22200|       24500|Thu Dec 18 2014 1...|
+----+-------------+--------+-------+-----------+------------+-----------------+-----+---------+--------+------+--------+--------------------+-----+------------+--------------------+
only showing top 20 rows

In [61]:
# "year", "make", "model", "body", "transmission", "condition", "odometer", "color"
df.groupBy("year").count().sort("count").show()
df.groupBy("make").count().sort("count").show()
df.groupBy("model").count().sort(desc("count")).show()
df.groupBy("body").count().sort("count").show()
df.groupBy("color").count().sort("count").show()
df.groupBy("interior").count().sort("count").show()
df.groupBy("transmission").count().sort("count").show()

+----+-----+
|year|count|
+----+-----+
|1990|   30|
|1991|   46|
|1992|   87|
|1993|  115|
|1994|  257|
|1995|  440|
|1996|  530|
|1997|  967|
|1998| 1379|
|1999| 2097|
|2000| 3229|
|2001| 4924|
|2002| 7325|
|2015| 7414|
|2003| 9980|
|2004|13063|
|2005|16510|
|2009|17312|
|2006|20823|
|2010|21655|
+----+-----+
only showing top 20 rows

+------------+-----+
|        make|count|
+------------+-----+
|       lotus|    1|
|      daewoo|    2|
| lamborghini|    3|
|      fisker|    9|
|    plymouth|   15|
|     ferrari|   15|
| rolls-royce|   15|
|         geo|   16|
|       tesla|   22|
|aston martin|   22|
|     bentley|  102|
|    maserati|  105|
|       isuzu|  167|
|  oldsmobile|  307|
|       smart|  332|
|        saab|  404|
|        fiat|  673|
|      hummer|  738|
|      suzuki|  945|
|     porsche| 1136|
+------------+-----+
only showing top 20 rows

+--------------+-----+
|         model|count|
+--------------+-----+
|        altima|15094|
|         f-150|10713|
|         camry|10405|
|        fusion|10079|
|        escape| 9127|
|        accord| 8327|
|         focus| 8258|
|        impala| 7275|
|         civic| 6894|
| grand caravan| 6586|
|       corolla| 6533|
|       g sedan| 6526|
|      3 series| 6503|
|        malibu| 6015|
|        sonata| 5513|
|silverado 1500| 5510|
|         cruze| 5211|
|       elantra| 5190|
|      explorer| 5187|
|        maxima| 5121|
+--------------+-----+
only showing top 20 rows

+--------------------+-----+
|                body|count|
+--------------------+-----+
|         cts-v wagon|    1|
|            cab plus|    2|
|          cab plus 4|    5|
|granturismo conve...|   10|
|           g37 coupe|   11|
|           cts wagon|   11|
|         regular-cab|   13|
|         transit van|   16|
|     g37 convertible|   19|
|         cts-v coupe|   25|
|     tsx sport wagon|   28|
|     q60 convertible|   30|
|           q60 coupe|   31|
|             xtracab|   34|
|  beetle convertible|   36|
| promaster cargo van|   55|
|       elantra coupe|   84|
|            mega cab|   93|
|           cts coupe|  118|
|            club cab|  143|
+--------------------+-----+
only showing top 20 rows

+---------+-----+
|    color|count|
+---------+-----+
|     lime|   11|
|     pink|   36|
|turquoise|  189|
| charcoal|  425|
|   yellow| 1060|
|off-white| 1231|
|   purple| 1249|
|   orange| 1709|
|    brown| 5473|
|    beige| 7292|
| burgundy| 7459|
|    green| 8983|
|     gold| 9309|
|      red|36494|
|     blue|41991|
|     gray|69257|
|   silver|69780|
|    white|87044|
|    black|91411|
+---------+-----+

+---------+------+
| interior| count|
+---------+------+
|   yellow|    19|
|   orange|   120|
| burgundy|   143|
|    green|   191|
|    white|   199|
|off-white|   249|
|     gold|   262|
|   purple|   269|
|     blue|   898|
|   silver|   972|
|      red|  1054|
|    brown|  6675|
|      tan| 35657|
|    beige| 48076|
|     gray|146599|
|    black|199020|
+---------+------+

+------------+------+
|transmission| count|
+------------+------+
|      manual| 15441|
|   automatic|424962|
+------------+------+

In [40]:
# Cast to respective data types
df = df.withColumn('mmr', col('mmr').cast('integer'))
df = df.withColumn('condition', col('condition').cast('double'))
df = df.withColumn('odometer', col('odometer').cast('integer'))

In [42]:
df.show()

+----+-------------+----------------+----------+---------+------------+-----------------+-----+---------+--------+--------+--------+--------------------+-----+------------+--------------------+
|year|         make|           model|      trim|     body|transmission|              vin|state|condition|odometer|   color|interior|              seller|  mmr|sellingprice|            saledate|
+----+-------------+----------------+----------+---------+------------+-----------------+-----+---------+--------+--------+--------+--------------------+-----+------------+--------------------+
|2013|    chevrolet|           cruze|       1LT|    sedan|   automatic|1g1pc5sb9d7167061|   va|      2.8|   29322|     red|    gray|fiserv/citizens a...|11200|       10200|Mon Dec 22 2014 0...|
|2008|          gmc|          acadia|     SLT-2|      suv|   automatic|1gker33768j202809|   tx|      2.9|   97458|    gray|   black|ford motor credit...|12250|       11000|Tue Dec 23 2014 1...|
|2005|       nissan|          maxima|    3.5 SL|    sedan|   automatic|1n4ba41e25c827484|   va|      2.5|  118589|    blue|   black|dt credit corpora...| 3700|        3800|Thu Jan 22 2015 0...|
|2014|          kia|             rio|        LX|    sedan|   automatic|knadm4a30e6373742|   ca|      4.9|   15106|  silver|   black|kia motors americ...|11500|       12500|Tue Dec 16 2014 1...|
|2004|        mazda|          mazda6|         s|    sedan|      manual|1yvfp80d545n25596|   md|      2.0|  173650|  silver|   black|coastal credit ll...| 1800|        1100|Tue Jan 20 2015 0...|
|2014|    chevrolet|          impala|       LTZ|    sedan|   automatic|2g1155s3xe9133901|   fl|      4.0|   14037|   black|   black|      gm remarketing|24300|       24700|Mon Feb 09 2015 0...|
|2014|          bmw|        2 series|     M235i|    coupe|   automatic|wba1j7c54evw84866|   nv|      4.2|    3001|   black|   black|   bmw north america|39800|       33500|Thu Jan 22 2015 0...|
|2012|      hyundai|          tucson|       GLS|      suv|   automatic|km8ju3ac2cu417275|   fl|      3.8|   70099|    blue|       —|hyundai motor fin...|12800|       12200|Tue Jan 06 2015 0...|
|2013|         ford|            edge|       SEL|      suv|   automatic|2fmdk4jc9dbb04305|   ny|      4.6|   29157|burgundy|   black|ford motor credit...|23100|       24300|Wed Jan 07 2015 0...|
|2011|         ford|         mustang|        V6|    coupe|   automatic|1zvbp8am6b5130291|   sc|      2.8|   74223|    blue|   black|   pnc national bank|11350|       12000|Tue Dec 23 2014 0...|
|2011|        buick|         enclave|      CXL2|      suv|   automatic|5gakvced6bj367698|   oh|      2.9|   33442|    gray|    gray|fiserv/usb dealer...|24100|       23100|Tue Jan 13 2015 0...|
|2003|         ford|           f-150|       XLT|supercrew|   automatic|1ftrw07663kd30766|   ca|      2.8|  137058|    gold|    gray|honda cars of corona| 4750|        4200|Wed Dec 31 2014 1...|
|2013|        volvo|            xc60|       3.2|      suv|   automatic|yv4952dl6d2413654|   ca|      3.9|   39860|    blue|   black|    avis corporation|20400|       20600|Tue Dec 16 2014 1...|
|2013|          kia|          optima|        LX|    sedan|   automatic|5xxgm4a75dg140328|   ga|      2.2|   53799|   black|   beige|     td auto finance|11700|       10500|Tue Dec 23 2014 1...|
|2009|     chrysler|town and country|        LX|  minivan|   automatic|2a8hr44e09r527179|   ca|      2.1|  163365|     red|    gray|    guard auto sales| 4225|        3400|Wed Dec 17 2014 1...|
|2013|mercedes-benz|         e-class|E350 Sport|    sedan|   automatic|wddhf5kb8da762334|   ca|      2.5|    4995|   black|   black|   mercedes-benz usa|35400|       31750|Thu Jan 15 2015 0...|
|2011|       toyota|           prius|     Three|hatchback|   automatic|jtdkn3du6b1471527|   fl|      3.7|   71264|    blue|    gray|    tdaf remarketing|12300|       12300|Tue Jan 06 2015 0...|
|2012|        scion|              iq|      Base|hatchback|   automatic|jtnjjxb01cj012739|   ga|      4.3|   14821|    gray|   black|toyota financial ...| 9375|        9200|Thu Dec 18 2014 1...|
|2014|        dodge|         journey|       SXT|      suv|   automatic|3c4pdcbg7et177914|   fl|      4.0|   20552|    blue|   beige|hertz corporation...|16650|       16400|Mon Jan 05 2015 0...|
|2013|    chevrolet|          malibu|        LT|    sedan|   automatic|1g11e5sa6df248841|   nc|      3.8|   50307|   white|   black|t & k enterprises...|12300|       12400|Tue Jan 06 2015 0...|
+----+-------------+----------------+----------+---------+------------+-----------------+-----+---------+--------+--------+--------+--------------------+-----+------------+--------------------+
only showing top 20 rows

In [56]:
def is_numeric(value):
    try:
        float(value)
        return True
    except ValueError:
        return False

is_numeric_udf = udf(is_numeric, BooleanType())

df.filter(~is_numeric_udf(col("mmr"))).show()

+----+----+-----+----+----+------------+---+-----+---------+--------+-----+--------+------+---+------------+--------+
|year|make|model|trim|body|transmission|vin|state|condition|odometer|color|interior|seller|mmr|sellingprice|saledate|
+----+----+-----+----+----+------------+---+-----+---------+--------+-----+--------+------+---+------------+--------+
+----+----+-----+----+----+------------+---+-----+---------+--------+-----+--------+------+---+------------+--------+

In [60]:
df.select("mmr").where(df["mmr"] == 'n.a."').show()

+---+
|mmr|
+---+
+---+